body {
    background-color: #f0f2f5;
}
.navbar {
    background-color: #343a40;
}
.navbar-brand {
    color: white;
    font-weight: bold;
}

.login-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin-bottom: 50%;
    margin-top: 10%;
}
.form-control {
    margin-bottom: 1rem;
}
.login-btn {
    width: 100%;
}
.container-fluid {
    margin-top: 50px;
}
.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
footer {
    text-align: center;
    padding: 1rem;
    background-color: #343a40;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}